/* Contenedor especial para alinear el input y el botón de ver */
.password-container {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

/* Ajuste al input para que no pise el texto del botón */
.password-container input {
    width: 100%;
    margin: 0; /* Resetea el margen viejo */
    padding-right: 75px; /* Deja espacio a la derecha para el botón */
}

/* El botón "Ver" flotando elegantemente a la derecha del input */
#btn-ojo {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #007bff;
    border: none;
    width: auto;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
}

#btn-ojo:hover {
    color: #0056b3;
    background: none;
}
